@use '../../../scss/placeholders';

.link {
  @extend %darkeningBorder;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: white solid 4px;
  text-align: center;
  min-width: 14rem;
  height: 14rem;
  transition: all 150ms ease-out;

  h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  p {
    margin: 0.5rem;
  }

  .goalProgressCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    width: 6rem;
    aspect-ratio: 1/1;
    height: 6rem;

    span {
      position: absolute;
    }
  }
}
