@use '../../placeholders';
@import '../../variables';

.openDialogButton{
  @extend %icon;
  background: url(../../assets/close.svg);
  background-size: cover;
}
.openDialogButton:hover { background-color: $red-1 }

.dialogContainer {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
  inset: 0;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  backdrop-filter: blur(1px) brightness(90%);

  button {
    @extend %baseButton;
    @extend %darkeningHover;
    margin: 1rem;
  }

  .panel {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: $bright-1;

    .title { @extend %subtitle }
    .removeButton { background-color: $red-1;}
    .backButton { background-color: $bright-4; }
  }
}
