@use '../../../placeholders';
@import '../../../variables';

.subHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tableHeaders {
  display: flex;
  column-gap: 2px;
  margin: 0px 2px;

  a {
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem 0px;
    border-radius: 0.5rem 0.5rem 0 0;
    width: calc((100% - 3rem) / 7);
    font-size: 1rem;
    font-weight: 500;
    word-break: break-word;
    text-decoration: none;
    color: $font-dark;
    background-color: $bright-1;
  }
  a:hover{
    color: $font-blue;
  }
}

.tableContainer {
  position: relative;

  table {
    width: 100%;
    padding: 0px;
    border-spacing: 2px 0px;
    background-color: inherit;
    box-sizing: border-box;
    empty-cells: show;

    td {
      box-sizing: border-box;
      padding: 0.4rem;
      border-radius: 1px;
      background-color: $bright-1;
    }
    tr { height: 2rem; }
    th, td {
      padding: 0.2rem;
      box-sizing: border-box;
    }

    .smallCell {
      width: 3rem;
    }
  }

  .grid {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    grid-template-columns: 3rem repeat(7, 1fr);
    column-gap: 2px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    .weekDayGrid {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(24, 2rem);
      column-gap: 2px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .taskBadge {
    @extend %darkeningHover;
    border-radius: 0.5rem;
    min-width: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    filter: brightness(97%);
    box-sizing: border-box;
    line-height: 0.8rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 150ms ease-out;

    p { margin: 0; }
  }
}
