@use '../../../scss/placeholders';
@import '../../../scss/variables';
@import '../../../scss//mixins';

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 4px 1px rgb(0 0 0 / 10%);
  z-index: 2000;
  background-color: $bright-1;

  @include xlScreen {
    min-width: 14rem;
  }

  @include maxSmScreen {
    transform: none !important;
    min-width: 12rem;
    width: 100%;
    right: 0;
    left: 0;
  }
  .descriptionInput {
    @extend %baseInput;
    min-width: 8rem;
  }

  .submitButton {
    @extend %baseButton;
    padding: 0.5rem 2rem;
    font-weight: 500;
    background-color: $bright-4;
  }
  .submitButton:hover {
    background-color: $bright-3;
  }

  .spaceSelect {
    margin: 0;
  }
}
