@use '../../placeholders';
@import '../../variables';

.spaceSelect{
    position: relative;
    width: 100%;
    z-index: 3000;

    ul {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3000;
        list-style: none;
        padding: 0;
        margin: 0;
        transform: translate(0, -1.5rem);
      }
    ul :last-child { border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem; }

  li {
    @extend %baseButton;
    font-weight: 400;
    position: relative;
    z-index: 3000;
    border: 1px solid $bright-4;
    border-radius: 0;
    border-top: none;
    background-color: $bright-1;
  }
  li:hover { background-color: $bright-4;}

  .selectButton {
    @extend %baseButton;
    @extend %lightingBorder;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: rgba(0, 0, 0, 0) 4px solid;
    color: $bright-1;
    background-color: $blue-1;
  }

  .header{
    @extend %subtitle;
    margin: 0.5rem 0 1.5rem 0;
    font-weight: 300;
  }
  
  .form{
      font-weight: 400;
      border-width: 3px;
  }
}

.dateEnabledSwitch {
    margin-top: 0.5rem;

    .switch {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 1.5rem;
      width: 3rem;
      border: none;
      border-radius: 1rem;
      background-color: $blue-1;
      transition: all 150ms ease-out;
      cursor: pointer;

      .switchInner {
        box-sizing: border-box;
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        border: $blue-1 solid 2px;
        border-radius: 1rem;
        transition: all 150ms ease-out;
      }

      .switchInnerEnabled {
        transform: translate(80%);
        background-color: #86efac;
      }

      .switchInnerDisabled {
        transform: translate(-20%);
        background-color: #bbbbbb;
      }
    }
}

.dateInputsContainer{
  margin-top: 0.5rem;

  label{
    width: 100%;
  }
}

.dateInput {
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: inherit;
    text-transform: uppercase;
    background-color: $bright-3;
}

.PriorityChangeInput{
  @extend %circle;
  margin: 0.25rem;
}

.selectInput{
  @extend %baseButton;
  text-transform: uppercase;
  width: 100%;
  min-width: 10rem;
}
