.subtitle{
    font-weight: 400;
    font-size: 2rem;
    margin: 0 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    section{
        padding: 1rem;
        background-color: #f3f4f6;
        box-shadow: 1px 3px 12px 1px rgb(0 0 0 / 15%);
        border-radius: 0.5rem;

        h3{
            margin: 0;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }

    .todaysTasks { 
        grid-area: 1 / 1 / 3 / 2;
    }
    .highPriorityTasks { 
        grid-area: 1 / 2 / 2 / 3;
    }
    .goalProgress { 
        grid-area: 2 / 2 / 3 / 3;
    }
    .incomingDeadlines { 
        grid-area: 1 / 3 / 3 / 4;
    }
}