@use '../../../scss/placeholders';
@import '../../../scss/variables';

.form {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  width: 15rem;
  min-height: 100%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  padding: 1.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: $bright-1;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
  }

  label {
    margin-top: 1rem;
    font-size: 0.95rem;
  }

  .textInput {
    @extend %baseInput;
    margin-top: 0.3rem;
  }

  .colorPicker {
    box-sizing: border-box;
    background-color: inherit;
    width: 100%;
    height: 3rem;
    margin-top: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.submitButton {
  @extend %baseButton;
  margin-top: 1rem;
  font-weight: 400;
  background-color: $bright-4;
}
.submitButton:hover {
  background-color: $bright-3;
}
