@use '../../../scss/placeholders';
@import '../../../scss/variables';

.openDialogButton {
  @extend %icon;
  background: url(../../../assets/icons/close.svg);
  background-size: cover;
}
.openDialogButton:hover {
  background-color: $red-1;
}

.dialogContainer {
  @extend %baseModalContainer;

  button {
    @extend %baseButton;
    @extend %darkeningHover;
    margin: 1rem;
  }

  .panel {
    @extend %baseModalPanel;

    .title {
      @extend %subtitle;
    }
    .removeButton {
      background-color: $red-1;
    }
    .backButton {
      background-color: $bright-4;
    }
  }
}
