@use '../../../scss/placeholders';

.prioButton {
  @extend %circle;
}

.low {
  background-color: #86efac !important;
}
.medium {
  background-color: #fbbf24 !important;
}
.high {
  background-color: #f87171 !important;
}
