@import '../../../scss/variables';

.layoutContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: calc(100% - 15rem);
  margin-left: 15rem;
  padding: 2rem;

  main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 18rem;
    width: 100%;
    min-height: calc(100% - 9rem);
    flex-grow: 1;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 6px;
    background-color: $bright-2;
  }

  header {
    h1 {
      margin: 0;
      font-size: $font-large;
      line-height: $font-large;
      color: $bright-1;
    }

    hr {
      width: 100%;
      height: 1px;
      margin-bottom: 2rem;
      background-color: $bright-1;
    }
  }
}
