.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 15rem);
  padding: 2rem;

  .layout_section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 18rem;
    width: 100%;
    min-height: calc(100% - 9rem);
    flex-grow: 1;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 6px;
    background-color: #f4f4f5;
    transition: all 150ms ease-out;
  }

  .header {
    h1 {
      margin: 0px;
      font-size: 3.5rem;
      line-height: 3.5rem;
      color: white;
    }

    hr {
      width: 100%;
      height: 1px;
      margin-bottom: 2rem;
      background-color: #fff;
    }
  }
}
