/* kazdy styl podjebany ze status.module.css wiec moze trzeba cos usunac */

.container {
  box-sizing: border-box;
  position: absolute;
  z-index: 2000;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 0.5rem;
}

.label_container {
  margin-top: 0.5rem;
  gap: 1rem;
  align-items: center;
  display: flex;
}

.container input {
  font-family: inherit;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.container .description_input {
  box-sizing: border-box;
  width: 100%;
  min-width: 15rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: solid 1px #e5e7eb;
  background-color: #f3f4f6;
}

.submit_button {
  padding: 0.5rem 2rem;
  align-self: flex-end;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-out;
  background-color: #e5e7eb;
}

.submit_button:hover {
  background-color: #f3f4f6;
}

.select_input {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
