.container {
  min-height: 100vh;
  width: 14rem;
  padding: 1rem;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

hr {
  display: block;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem 0;
  color: white;
  text-decoration: none;
  transition-property: all;
  transition: ease-out;
  transition-duration: 150ms;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
