@use '../../../scss/placeholders';
@import '../../../scss/mixins';
@import '../../../scss/variables';

.goalProgressSection {
  @include mdScreen {
    grid-column: 1;
  }

  .goalLinks {
    position: relative;
    display: flex;
    height: calc(100% - 37px);
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: $bright-1;
    overflow-x: auto;

    @include smScreen {
      border-radius: 0 0.5rem 0.5rem 0.5rem;
    }
  }

  .goalProgressCaption {
    @extend %baseTableCaption;
    display: block;
    box-sizing: border-box;
    text-align: center;
    background-color: $yellow-1;
    width: 100%;

    @include smScreen {
      width: fit-content;
    }
  }

  .noTasks {
    @extend %noTasks;
  }
}
