@use '../../scss/placeholders';
@import '../../scss/variables';

.tableRow {
  @extend %link;
  .smallCell {
    width: 1rem;
  }

  .itemDate {
    margin: 0;
    font-size: 0.8rem;
    color: $dark-1;
  }
}
