@import './variables'; 

@mixin smMinBreakPoint {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

@mixin mdMinBreakPoint {
    @media (min-width: #{$screen-md}) {
        @content;
        font-size: 14px;
    }
}

@mixin lgMinBreakPoint {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

@mixin xlMinBreakPoint {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}

@mixin xxlMinBreakPoint {
    @media (min-width: #{$screen-xxl}) {
        @content;
    }
}
