@use '../../placeholders';
@import '../../variables';

.container {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  gap: 0.5rem;
  padding-bottom: 1rem;
  overflow-x: auto;

  .addStatusButton {
    @extend %baseButton;
    @extend %darkeningHover;
    box-sizing: border-box;
    min-width: 15rem;
    background-color: $bright-4;
  }

  section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: 15rem;
  
    .sectionHeader {
      display: flex;
      justify-content: space-between;
      min-height: 4.5rem;
      border-radius: 0.5rem;
  
      h2 {
        align-self: center;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
      }
  
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: inherit;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
  
      button { margin: 0; }
    }
  
    .addTaskBtn {
      @extend %baseButton;
      @extend %darkeningBorder;
      margin-top: 0.5rem;
      font-weight: 400;
      background-color: $bright-1;
    }

    .taskContainer { 
      flex-grow: 1; 
      border-radius: 0.5rem; 
      
      .taskCard {
        box-sizing: border-box;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        background-color: $bright-1;
        word-break: break-word;
      
        .infoButtonRow {
          position: relative;
          display: flex;
          justify-content: space-around;
        }
      
        p { margin: 0; }
        hr { border-color: rgba(0, 0, 0, 0.25); }

        .date{ font-size: 0.85rem; color: rgba(0, 0, 0, 0.75); }
      }
      .taskCard:hover { color: $font-blue; }
    }
  }
  
  .sectionHidden {
    min-width: 2rem;
    max-height: 4.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
