.container {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  word-break: break-word;

  p {
    margin: 0px;
  }

  hr {
    border-color: rgba(0, 0, 0, 0.25);
  }

  .info_button_row {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
}
