/* kazdy styl podjebany ze status.module.css wiec moze trzeba cos usunac */

.form {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 4px 1px rgb(0 0 0 / 10%);;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.96);

  .inner_container {
    gap: 1rem;
    justify-content: space-between;
    display: flex;
  }

  input {
    font-family: inherit;
    padding: 0.5rem;
  }

  .description_input {
    box-sizing: border-box;
    width: 100%;
    min-width: 12rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: solid 1px #e5e7eb;
    background-color: #f3f4f6;
  }

  .submit_button {
    padding: 0.5rem 2rem;
    font-weight: 500;
    background-color: #e5e7eb;
  }

  .submit_button:hover {
    background-color: #f3f4f6;
  }

}

.select_input {
  min-width: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
